.top-file {
}

.top-file > img {
  object-fit: contain;
  height: 1.2rem;
  margin-right: 0.2rem;
}
.active-top-bar {
}
.active-top-bar .top-file-close {
  visibility: visible;
}

.top-file-close {
  margin-left: 0.3rem;
  border-radius: 20%;
  visibility: hidden;
}
.top-file:hover > .top-file-close {
  visibility: visible;
}
.visible {
  visibility: visible;
}
.top-file-close svg:hover {
  background: #33363a;
}

.topbar::-webkit-scrollbar {
  display: none;
}
